@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

/* LANDING PAGE CSS */

body {
    
    margin: auto;
    font-family: sans-serif;
}
header, main, footer {
    text-align: center;
    padding: 10px;
    
}

#header, footer {
    
    background-color:rgb(102, 44, 141);
}

#logo {
    display: block;
    text-align:center;
    width: 300px;
    height: 100px;
    line-height: 100px;
    color: rgb(236, 236, 236);
    margin: 0 auto;
    position: relative;
    top: -15px;
    font-size: 45px;
    font-family: 'Xanh Mono', monospace;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 10px;
}

#header #logo, nav a {
    background-color: rgb(67, 21, 88);
    text-decoration: none;
}

#header nav a {
    
    height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px; 
    text-decoration: none;
    color: #ffffff;
    position: relative;
    margin: 3px;
}

#header nav a:hover {
    color: #ccc;
}

footer {
    height: 60px;
    line-height: 20px;
}

main {
    min-height: calc(100vh - 218px);
    display: grid;
    grid-template-rows: 30% 30% 40%;
    grid-template-columns: 25% 50% 25%;
    height: auto;
}



#bannerImageContainer {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    border:rgb(67, 21, 88) 4px solid;
    height: 378px;
    
    
    
    
}

#banner-image1 {
    
    max-width: 378px;
    max-height: 378px;

}

#bannerImageContainer h2 {
    position: relative;
    left: -30 px;
    top: -400px;
    font-size: 35px;
    font-family: 'Xanh Mono', monospace;
}

/* CONTACT FORM CSS */


#contactContentWrapper {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
}


.text
{
    font-family: sans-serif;
    
}

.button
{
    background-color: rgb(56, 56, 56);
    border: none;
    padding: 5pt 11.5pt;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 12pt;
    font-weight: bolder;
    cursor: pointer;
    
}

#message
{
    
    width: 80%;
    height: 115px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    
}

/* Text Content CSS */

#newsMain {
    grid-template-columns: 25% 35% 15% 25%;
    grid-template-rows: auto;
}

#aboutContentWrapper, #newsMainWrapper {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
    
    
}

#newsAside {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    border: rgb(67, 21, 88) solid 4px;
    height: auto;
    text-align: center;
    padding: 5px;
}


/* Gallery */

#galleryContainer {
    display: grid;
    grid-column-start: 1;
    grid-column-start: 2;
    text-align: center;
    width: 100%;
    height: auto;
}

#galleryOne, #galleryTwo, #galleryThree {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

#galleryContainer img:hover {
    border: 2px solid #777;
}

#galleryContainer img {
    border: solid 2px rgb(67, 21, 88);
}
